<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <img style="width: 400px;" src="http://dudtjd7820.github.io/assets/img/everNoteList.png" alt="website picture" class="profile-pic">

          <p class="blog-post-list">
            <a target="_blank" href=" https://www.evernote.com/pub/dudtjd7820/restapi" class="blog-post-title">EverNote 링크 - RestApi_study
            </a>
          </p>
          <p class="blog-post-list">
            <a target="_blank" href="https://www.evernote.com/pub/dudtjd7820/reactstudy" class="blog-post-title">EverNote 링크 -React_study
            </a>
          </p>
          <p class="blog-post-list">
            <a target="_blank" href="https://www.evernote.com/pub/dudtjd7820/etcstudy" class="blog-post-title">EverNote 링크 - Etc_study
            </a>
          </p>


     

        </div>
      </div>
    </div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
